{{ define "content" }}
<article class="post content">
      <header class="post-header">
       {{ partial "article_header" . }}       
       
      </header>
      <div class="post-content"> 
        {{ .Content}}
      </div>
      
      <footer class="post-footer">
      
      <div class="meta">

    {{ if .IsTranslated }}
              {{ i18n "translations" }} :
              {{ range .AllTranslations }}
              <a href="{{ .Permalink }}">{{ .Lang }}</a>
              {{ end }}
    {{ end }}

    <br />
    
    {{ if .Params.tags }}
        {{ i18n "tags" }} :
        {{ range .Params.tags }}
            #<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>              
        {{ end }}
    {{ end }}
    
</div>
      
<div class="share-buttons">Share：
  <a href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}" target="_blank" class="share-btn share-x">𝕏</a>
  <a href="https://note.com/intent/post?url={{ .Permalink }}&text={{ .Title }}" target="_blank" class="share-btn share-note">note</a>
  <a href="https://bsky.app/intent/compose?text={{ .Title }}%20{{ .Permalink }}" target="_blank" class="share-btn share-bluesky">Bluesky</a></div>	
 {{- if (.Param "isso") }}
  {{- partial "isso.html" . }}
  {{- end }}
    
    </footer>  
</article>

{{ end }}
